<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - @ViewData["CompanyInitials"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>

<body>
    <style>
        body {
            color: #525252;
            font-size: 12px;
        }

        .image-container {
            width: 80px;
            height: 80px;
            text-align: center;
        }

            .image-container img {
                height: 100%;
            }

        .flexrow {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex !important;
        }

            .flexrow > div {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
            }

        th {
            font-size: 1.0rem;
            line-height: 1.1rem;
        }

        td {
            font-size: 0.9rem;
            line-height: 1.1rem;
        }

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1.4rem;
        }

        h3 {
            font-size: 1.3rem;
        }

        h4 {
            font-size: 1.2rem;
        }

        h5 {
            font-size: 1.1rem;
        }

        h6 {
            font-size: 1rem;
        }

        p {
            font-size: 0.9rem;
        }

        .sign {
            max-height: 70px;
            position: fixed;
        }

        .main-category {
            padding-top: 5px;
            padding-bottom: 2px;
            border-bottom: 1px solid #707070;
            color: #525252;
        }

        .table-header-skyblue-line {
            padding-bottom: 12px;
            border-bottom: 1px solid #66a5f2;
        }

        .table-header-skyblue {
            padding-bottom: 12px;
            background-color: #66a5f2;
            color: white;
        }

        .table-body-lightgray {
            padding-bottom: 12px;
            border-top: 1px solid #c7c7c7;
            border-left: 1px solid #c7c7c7;
            border-right: 1px solid #c7c7c7;
        }

        .table-footer-skyblue {
            padding-bottom: 12px;
            border-top: 1px solid #66a5f2;
        }

        .table-item-label {
            padding-bottom: 10px;
            font-size: 14px;
        }

        .table-item-divider {
            padding-bottom: 10px;
            font-size: 14px;
            padding-left: 10px;
        }

        .table-item-input {
            padding-bottom: 10px;
            font-size: 14px;
            padding-left: 6px;
            text-transform: uppercase;
        }

        .table-signature-basic {
            border-spacing: 10px;
            border-collapse: separate;
            margin-left: -10px;
            margin-right: -10px;
        }

        .table-signature-basic-title {
            padding-bottom: 60px;
            font-size: 14px;
            border-bottom: 1px solid #707070;
        }

        .table-signature-basic-item {
            padding-bottom: 5px;
            font-size: 14px;
            line-height: 4px;
        }
    </style>
    @RenderBody()
</body>
</html>