@model JGredGaji
@{
    ViewData["Title"] = "Gred Gaji - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Views/Partials/Common/_TitleCreatePartial.cshtml" />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="syscode" value="SPSU" hidden />
            <div class="form-group">
                <label asp-for="Kod" class="control-label"></label>
                <input asp-for="Kod" class="form-control form-control-sm text-uppercase" onkeydown="return /[a-zA-Z]/i.test(event.key)" />
                <span asp-validation-for="Kod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnKlasifikasiPerkhidmatan" class="form-label"></label>
                <select asp-for="EnKlasifikasiPerkhidmatan" class="form-select form-control form-control-sm select2">
                    @foreach (var item in ViewBag.EnKlasifikasiPerkhidmatan)
                    {
                        <option value="@item.id">@item.perihal</option>
                    }
                </select>
            </div>

            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn ac-primary btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
