<li class="nav-item">
    <a class="nav-link collapsed text-truncate
       " href="#submenuLaporan" data-toggle="collapse" data-target="#submenuLaporan"><img src="~/img/svg/laporan.svg" class="fa fa-pull-left fa-0 icon-bar"><span>&nbsp; Laporan</span></a>
    <div class="collapse" id="submenuLaporan" aria-expanded="false">
    </div>
</li>