@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Log in - Penghantaran Emel";
    Layout = "~/Views/Shared/Account/_LoginLayout.cshtml";
}
<div class="login-wrapper">
    <div class="note text-center">
        <h3 class="text-success">Penghantaran Emel Berjaya</h3>
        <p>
            Sila cek emel anda. Terima kasih.
        </p>
    </div>
</div>
