@{
    ViewData["Title"] = "Log in - Penghantaran Emel";
    Layout = "~/Views/Shared/Account/_LoginLayout.cshtml";
}


<div class="login-wrapper">
    <div class="note text-center fade-in">
        <h3 class="text-danger pb-2">Penghantaran Emel Gagal</h3>
        <p class="pb-2">
            Emel ini tidak wujud. Sila isi emel yang telah berdaftar sahaja.
        </p>
        <a asp-controller="Account" asp-action="Login" class="text-primary">Kembali ke Log Masuk</a>
    </div>
</div>

