@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Set Semula Katalaluan";
    Layout = "~/Views/Shared/Account/_LoginLayout.cshtml";
}
<div class="login-wrapper">
    <form class="form fade-in" asp-controller="Account" asp-action="ResetPassword" method="post" role="form">
        <img src="~/img/MainLogo_Syarikat.webp" alt="IMG" />
        <h2>SPMB</h2>
        <hr />
        <h6>Set Semula Katalaluan</h6>
        <div asp-validation-summary="All" class="text-danger mb-3 ml-4"></div>
        <div class="input-group">
            <input type="text" asp-for="Email" required placeholder="Emel" />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <object data="~/img/svg/emel.svg" class="fa fa-pull-left fa-0 pr-2" height="18"></object>
            </span>
        </div>
        <div class="input-group">
            <input type="password" asp-for="Password" required placeholder="Katalaluan" />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <object data="~/img/svg/password.svg" class="fa fa-pull-left fa-0 pr-2" height="18"></object>
            </span>
        </div>
        <div class="input-group">
            <input type="password" asp-for="ConfirmedPassword" required placeholder="Katalaluan" />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <object data="~/img/svg/password.svg" class="fa fa-pull-left fa-0 pr-2" height="18"></object>
            </span>
        </div>
        <input type="submit" value="Simpan" class="submit-btn" />

    </form>
</div>

