@{
    ViewData["Title"] = "Log in - Set Semula Katalaluan";
    Layout = "~/Views/Shared/Account/_LoginLayout.cshtml";
}
<div class="login-wrapper">
    <div class="note text-center">
        <h3 class="text-success">Set Semula Katalaluan Berjaya</h3>
        <a asp-controller="Account" asp-action="Login" class="text-primary">Kembali ke Log Masuk</a>
    </div>
</div>
