<div class="card mb-3">
    <div class="card-body ps-3 pb-2">
        <div class="form-actions no-color mb-2">
            <div class="form-row">
                <div class="col-sm-2 mb-2" hidden>
                    <select class="custom-select form-control-sm" id="columnSearch">
                        <option value="" selected>Semua</option>
                    </select>
                </div>
                <div class="col-sm-12 mb-2 ">
                    <div class="input-group text-center">
                        <span class="input-group-text" id="carian-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control form-control-sm" placeholder="Carian.." aria-label="Carian" aria-describedby="carian-addon" id="myInput">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>