<div class="row">
    <div class="col-8">
        <h5 class="text-uppercase text-danger mb-0">@ViewData["Title"]</h5>
        <span class="ac-ref"><a asp-action="Index" asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")" class="text-secondary">Indeks</a> / Hapus</span>
    </div>
    <div class="col-4">
        <a asp-action="Index" asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")" class="text-secondary float-end"><i class="fas fa-times fa-2x"></i></a>
    </div>

</div>
<hr class="mt-2" />
