<div class="row">
    <div class="col-8">
        <h5 class="text-uppercase text-primary mb-0">@ViewData["Title"]</h5>
        <span class="ac-ref"><a asp-action="Index" class="text-secondary">Indeks</a> / <a asp-action="Details" asp-route-id="@Model.Id" class="text-secondary">Papar</a> / Ubah</span>
    </div>
    <div class="col-4 ">
        <a asp-action="Index" class="text-secondary float-end"><i class="fas fa-times fa-2x"></i></a>
    </div>

</div>
<hr class="mt-2" />